#page {
  border-collapse: collapse;
}

/* And this to your table's `td` elements. */
#page td {
  padding: 0;
  margin: 0;
}

.tabla-container * {
    margin-right: 0 !important;
}

.tabla * {
    padding: 10px !important;
}



